#head {
	float: left;
	background-color: #6495ED;
	padding: 55px 50px 570px 50px;
	margin-right: 20px;
	color: white;
}

.normal {
	position: absolute;
	left: 190px;
}

#basic p {
	float: left;
	margin-top: 1px;
	margin-right: 35px;
	font-size: 95%;
}


#contact p {
	float: left;
	margin-top: 1px;
	margin-right: 35px;
	font-size: 95%;
}

#contact {
	clear: left;
}

#skill,
#educated,
#experience {
	font-weight: bold;
}

span {
	font-weight: bold;
}



